.hero {
  margin-top: 5rem;
  max-width: 100vw;
  overflow-x: hidden;

  .hero__slider {
    img {
      height: 58vh;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .heroContent {
    background-color: #f2f2f2;
    width: 100%;
  }

  .singleCard {
    background-color: transparent !important;
    border: none !important;
    outline: none !important ;

    .card-header {
      background-color: transparent !important;
    }

    svg {
      font-size: 1.8rem;
    }
  }
}
